$button-color: #c6d8d3;
$list-color: #fdf0d5;
$card-color: lighten($list-color, 5%);
$danger-color: #f0544f;
$control-color: #197278;
$font-color: #283d3b;

@mixin input-style($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 0.5em 0;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    background-color: lighten($color, 2%);
  }
}

@mixin button-style($color) {
  @include input-style($color);
  &:hover {
    background-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 5%);
  }
  &:disabled {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $color;
  }
}

@mixin box-shadow($color) {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
input {
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0;
  color: $font-color;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
}

input {
  @include input-style(white);
}

button,
input[type='submit'] {
  @include button-style($button-color);
  &.danger {
    @include button-style($danger-color);
  }
}

.Application {
  display: flex;
  margin: 0.5em;
}

.toggle-options {
  @include button-style($list-color);
  color: darken($list-color, 50%);
}

.Card {
  background-color: $card-color;
  border: 1px solid darken($card-color, 20%);
  margin: 0.5em;
  padding: 1em;
  @include box-shadow($card-color);
  h3 {
    font-size: 1.2em;
    margin-top: 0;
  }
}

.Card-description {
  margin: 1em 0;
}

.Card-toggle {
  @include button-style($card-color);
  color: darken($card-color, 50%);
}

.CreateCard-title,
.CreateCard-submit {
  margin-bottom: 0.5em;
}

.CreateCard-submit {
  background-color: #bbb;
}

.CreateList {
  background-color: $list-color;
  display: flex;
  margin-bottom: 1em;
  min-width: 400px;
  padding: 0.5em;
  width: 100%;
  @include box-shadow($list-color);
}

.CreateList-title,
.CreateList-submit {
  padding: 1em;
}

.CreateList-title {
  background-color: $card-color;
  width: 100%;
  flex: 5;
}

.CreateList-submit {
  flex: 1;
}

.List {
  background-color: $list-color;
  border: 1px solid darken($list-color, 10%);
  height: 100%;
  margin-right: 0.5em;
  padding: 0.5em;
  width: 250px;
  @include box-shadow($list-color);
}

.Lists {
  display: flex;
  height: 100%;
  width: 100%;
}

.User {
  border: 1px solid $list-color;
  display: flex;
  font-size: 0.6em;
  margin-bottom: 1em;
  overflow-y: scroll;
  padding: 0.5em;
  width: 100%;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.User-picture {
  border: 1px solid $list-color;
  margin-right: 0.5em;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.Users {
  background-color: $card-color;
  border: 1px solid darken($card-color, 10%);
  height: 100%;
  margin-right: 1em;
  min-width: 300px;
  padding: 1em;
  width: 300px;
  @include box-shadow($card-color);
  h2 {
    border-bottom: 5px solid darken($card-color, 10%);
    color: darken($card-color, 70%);
    display: block;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-align: center;
  }
}
